@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300&family=Urbanist:wght@200;300&display=swap');

*{
    font-family: 'Grandstander', sans-serif;
    padding: 0%;margin: 0%;
    list-style: none;
    text-decoration: none;
    text-transform: capitalize;
    box-sizing: border-box;
    border: none; outline: none;
    transition: all .2s linear;
}
:root{
    --primary : #ff3838;
    --secondary:#666;
}
*::selection{
    background-color: #ff3838;
    color: #fff ;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 62.5%;
    background-color: #f7f7f7;
    scroll-padding-top: 6rem;
}
h1, h2, h3, h4{
    color: var(--secondary);
}
p{
    font-family: 'Urbanist', sans-serif;
    text-transform: none;
    color: var(--secondary);
}


header{
    position: fixed;
    background-color: #fff;
    top: 0; left: 0; right: 0;
    padding: 2rem 9%;
    box-shadow:0 .5rem 1rem rgba(0, 0, 0, .2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.heading{
    font-size: 2.7rem;
    color: #666;
    font-weight: bold;
}
.btn{
    padding: 1.5rem 4rem;
    font-size: 2rem;
    border: .2rem solid var(--primary);
    border-radius: .5rem;
    color: var(--primary);
    font-weight: bold;
    position: relative;
    overflow: hidden;
    
}
section, footer{
    padding: 2rem 9%;
}
.btn::before{
    content: "";
    background-color: var(--primary);
    position: absolute;
    top: 0; right: -0%;
    width: 0%;
    height: 100%;
    z-index: 0;
    transition: width .2s linear;

}
.btn:hover::before{
    left: 0;
    width: 100%;
    z-index: -1;
}
.btn:hover{
    color: #fff;
    z-index: 1;
}
.heading i{
    color: var(--primary);
}
#menu-bars{
    font-size: 3rem;
    color: #666;
    display: none;
}
.header .navbar a{
    color: var(--secondary);
    font-size: 2.2rem;
    margin-right: 2rem;
}
.header .navbar a:hover{
    color: var(--primary);
}

.home{
    position: relative;
    margin-bottom: 5rem;
    top: 7rem;
    display: flex;
    min-height: 100vh;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    background-image: url('../images/home-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
.home .image-wrapper{
    width: 45%;
    animation: float 2.3s infinite;
}
@keyframes float {
    0%{ transform: translateY(0rem);}
    50%{ transform: translateY(5rem);}
    100%{ transform: translateY(0rem);}
}
.home .image-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home .content {
    margin-right: 5rem;
    width: 55%;
}
.home .content h1{
    font-size: 5rem;
    margin-bottom: 2rem;
    color: #000;
}
.home .content p{
    font-size: 2rem;
    line-height: 2.6rem;
    margin-bottom: 3rem;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}
.box{
    width: 45rem;
    height: 35rem;
    border: .1rem solid var(--secondary);
    border-radius: .3rem;
    background-color: #fff;
    position: relative;
    overflow:hidden;
    cursor: pointer;
}

.box .main img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.speciality {
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}
.headline{
    margin-top: 6rem;
    margin-bottom: 2rem;
    font-size: 4rem;
}
.headline span{
    color: var(--primary);
}
.speciality .wrapper .box .main{
    position: absolute;
    top: -100%; left: 0%;
    width: 100%;
    height: 100%;
}
.speciality .wrapper .box:hover .main{
    top: 0;
}
.speciality .wrapper .box .content{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
}
.speciality .wrapper .box:hover .content{
    top: 100%;
}
.speciality .box .content .second{
    margin: 3rem 0 0 0;
    width: 7rem;
    height: 7rem;
}
.speciality .content .second img{
    width: 100%;
    object-fit: cover;
}
.speciality .box .content h1{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 3rem;
    color: #000;
}
.speciality .box .content p{
    text-align: center;
    font-size: 2rem;
}

/* popular section */


.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popular .wrapper .box {
    height: 55rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .1rem solid rgba(0, 0, 0, .1);
    cursor: initial;
    box-shadow: 0 .4rem 1rem rgba(0, 0, 0, .1);
}
.popular .wrapper .box .img-wrapper{
    height: 30rem;
    width: 43rem;
    margin: 1.5rem;

}
.popular .wrapper .box .img-wrapper img{
    height: 100%;
    width: 100%;
    border-radius: .7rem;
}
.box .price{
    font-size: 2rem;
    padding: 1rem 1.5rem;
    background-color: var(--primary);
    color: #fff;
    border-radius: .7rem;
    position: absolute;
    top: 2.5rem; left: 2rem;
}
.popular .content {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popular .content h1{
    font-size: 3rem;
    margin-bottom: 2rem;
}
.popular .content h2{
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: var(--primary);
}

/* delivery section */

.delivery .wrapper .box{
    width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    background-color: #f7f7f7;
    align-items: center;
    padding: 1rem 2rem;
    border: 0;
}
.delivery .wrapper .box img{
    border-radius: 50%;
    border: 1rem solid #fff;
    box-shadow: 0 .2rem 1rem rgba(0, 0, 0, .1);
}
.delivery .wrapper .box h1{
    font-size: 2.5rem;
    text-align: center;
}

/* gallery section */

.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery .wrapper .box{
    border: 1rem solid #fff;
    box-shadow: 0 .6rem 1.1rem rgba(0, 0, 0, .2);
}
.gallery .wrapper .box .image-wrapper{
    width: 100%;
    height: 100%;
}
.gallery .wrapper .box .image-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery .wrapper .box .content{
    position: absolute;
    top: -100%;left: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    opacity: .7;
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
    justify-content: space-around;
    align-items: center;
}
.gallery .wrapper .box:hover .content{
    top: 0%;
}
.gallery .wrapper .box .content h1{
    font-size: 4rem;
    color: #000;
}
.gallery .wrapper .box .content p{
    text-align: center;
    font-size: 2.4rem;
    color: rgba(0, 0, 0, .9);
}

/* review section */

.review{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.review .wrapper .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0;
    background-color: #f7f7f7;
    height: 50rem;
    margin: 2rem 1rem;
}
.review .wrapper .box .pic-wrapper{
    width: 14rem;
    height: 14rem;
    z-index: 1;

}
.review .wrapper .box .pic-wrapper img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: -0 0 0 0;
    border: 1rem solid #fff;
}
.review .wrapper .box .content{
    position: absolute;
    top: 6rem;left: 0%;
    width: 95%;
    height: 82%;
    background-color: rgba(0, 0, 0, .7);
    border: 1rem solid #fff;
    box-shadow: 0 .4rem 1.2rem rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    padding: 8rem 2rem;
    padding-bottom: 3rem;
}
.review .wrapper .box .content h1{
    margin-top: 1.2rem;
    font-size: 3.2rem;
    color: #fff;
}
.review .wrapper .box .content .rate{
    font-size: 2.5rem;
    color: var(--primary);
    margin-bottom: 1.2rem;
}
.review .wrapper .content p{
    color: #fff;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    padding-bottom: 2rem;

}

.order{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order .wrapper{
    background-color: #fff;
    padding: 2rem 1.5rem;
    border-radius: .7rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.order .wrapper .pic{
    width: 45%;
    height: 50rem;
}
.order .wrapper .pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .7rem;
}

.order form{
    width: 50%;
    padding: 3rem 1.5rem;
}
.order .input-tage{
    padding: 1.7rem 2.3rem;
    background-color: rgba(0, 0, 0, .1);
    border-radius: .3rem;
    margin: .9rem .8rem;
    font-size: 1.7rem;
    text-transform: none;
}
.order .area{
    min-width: 85%;
    max-width: 85%;
    min-height: 22rem;
    max-height: 22rem;
    margin-bottom: 2rem;
}
.order .btn{
    margin: .5rem .8rem;
}
#form-btn:hover{
    background-color: var(--primary);
    color: #fff;
    z-index: 100;
    cursor: pointer;
}

#form-btn::before{
    width: 100%;
    z-index: -1;
}

.footer{
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}
.footer .media{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 100%;
}
.footer .media a{
    padding: 1rem;
    margin:1rem 2rem !important;
    font-size: 2.5rem;
    background-color: #fff;
    color: var(--primary);
    border-radius: 50%;
    text-align: center;
}
.footer .media a i{
    text-align: center;
}
.footer .btn:hover{
    color: #fff;
}
#scroll{
    position: fixed;
    top: -120%; right: 5rem;
    width: 5rem; height: 4rem;
    background-color: var(--primary);
    color: #fff;
    font-size: 3rem;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .6rem;
    transition: 1s linear;
}
#scroll.shown{
    top: calc(100% - 10rem);
}

.loader{
    background-color: #fff;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100000;
}
.loader img{
    width: 10rem;
    height: 10rem;
}
.main-container{
    display: initial;
}

.loader.loader-actived{
    display: flex;
}
.main-container.loader-actived{
    display: none;
}












@media (max-width:1500px) {
    .order .input-tage{
        width: 85%;
    }
}

@media (max-width:1024px) {
    html{
        font-size: 55%;
    }
    
}
@media (max-width:900px) {
    .home{
        flex-wrap: wrap;
    }
    .home .image-wrapper{
        width: 100%;
    }
    .home .content{
        width: 100%;
    }
    .order .wrapper{
        flex-direction: column;
        align-items: center;
        padding: 1rem .5rem;
    }
    .order .wrapper .pic{
        width: 85%;
    }
    .order form{
        width: 85%;
    }
    .order .input-tage{
        width: 100%;
    }
    .order .area{
        min-width: 100%;
        max-width: 100%;
    }
}

@media (max-width:770px) {
    #menu-bars{
        display: block;
        cursor: pointer;
    }
    #menu-bars:hover{
        color: var(--primary);
    }
    .header .navbar{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 8rem;right: 0; width: 98%;
        margin-top: 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0);
    }
    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .navbar a{
        font-size: 3rem;
        margin-bottom: 1.5rem;
        background-color: rgb(245, 245, 240);
        padding: 1rem 2rem;
        border: 3px solid rgba(0, 0, 0, .1);
        border-radius: .3rem;
        border-left-color: var(--primary);
        cursor: pointer;
    }
    
}
.footer .media a{
    margin:1rem auto;
}
@media (max-width:460px) {
    .box{
        width: 35rem;
    }
    .photo-wrapper{
        width: 90%;
    }
}


